.showRContainer {
  padding: 10%;
  border-radius: 12px;
  flex-wrap: nowrap;
  transform: skewY(-8deg);
  transition: 0.8s;
  transition-timing-function: linear;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.showRContainer:hover {
  transform: skewY(0deg);
}
.showRContent small {
  margin: 0 auto;
  text-align: center;
}
